.Calculator{
    height: 820px;
    width: 520px;
    background-image: linear-gradient(to right, orange , yellow);
    color:black;
    border-radius: 50px;
    
}

h1 {
    color:green;
    font-size: 2.0rem;
    letter-spacing: 0.10rem;
    text-align: center;
    padding: 2.8rem;
}

.display {
    font-size: 70px;
    margin-bottom: 15px;
    text-align: right;
}

.buttonAC{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
    
}