/*buttons design*/
.Button{
    background: rgb(143, 142, 142);
    width: 100px;
    height: 90px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 750;
    font-size: 45px;
    font-family: 'Lucida Sans';
}
/*equal design*/
.Button.equal {
    width: 230px;
    grid-column: 3 / span 2;
}
.Button.function {
    color: white;
    background: rgb(83, 81, 81)
}
.Button.operator{
    background: -webkit-linear-gradient(rgb(221, 156, 17), rgb(223, 226, 17));
}

