/*calculator design*/
.Calculator {
  height: 840px;
  width: 520px;
  background-color: black;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
/*title design*/
h1 {
  background: -webkit-linear-gradient(rgb(221, 156, 17), rgb(223, 226, 17));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

/*image position*/
img {
  position: relative;
  top: 15px;
  left: 220px;
}
/*display design*/
.display {
  font-size: 75px;
  margin-bottom: 15px;
  text-align: right;
  background-color: black;
  color: yellowgreen;
  width: 490px;
  overflow: hidden;
}
/*estructure buttons design*/
.buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  float: inherit;
  width: 300px;
  transform: translate(10%, 0%);
}
