.Calculator {
  height: 820px;
  width: 530px;
  background-image: linear-gradient(to right, orange, yellow);
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: green;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 2.8rem;
}

.display {
  font-size: 70px;
  margin-bottom: 15px;
  text-align: right;
  background-color: black;
  color: blue;
}

.buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  float: inherit;
  width: 300px;
  transform: translate(10%, 0%);
}
